#!/bin/bash

##change default site name
sudo -u mailman bash -c "source /opt/mailman/venv3/bin/activate; \
                                cd /opt/mailman/postorius/example_project; \
                                python manage.py shell -c 'from django.contrib.sites.models import Site; \
                                                           site = Site.objects.get(id=1); \
                                                           site.name = \"<%= scope.lookupvar('mailman::fqdn') -%>\"; \
                                                           site.domain = \"<%= scope.lookupvar('mailman::fqdn') -%>\"; \
                                                           site.save()'; \
                                deactivate" \
                                /
