{% extends "postorius/base.html" %}
{% load i18n %}
{% load pagination %}
{% load membership_helpers %}

{% block head_title %}
{% trans 'List Index' %} - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{% trans 'Mailing Lists' %}</h1>
    </div>

    {% if user.is_superuser %}
        <p class="text-right">
            {% if domain_count < 1 %}
                <a class="btn btn-success" href="{% url 'domain_new' %}">{% trans 'Create New Domain' %}</a>
            {% else %}
                <a class="btn btn-success" href="{% url 'list_new' %}">{% trans 'Create New List' %}</a>
            {% endif %}
        </p>
    {% endif %}
    {% if lists|length > 0 %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'List name' %}</th>
                        <th>{% trans 'Post address' %}</th>
                        <th>{% trans 'Description' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in lists %}
                       {% if list.settings.advertised or user.is_superuser%}
                           <tr>
                              <td>
                                <a href="{% url 'list_summary' list_id=list.list_id %}">{{ list.display_name }}</a>
                                {% if user.is_superuser and not list.settings.advertised %} ({% trans 'unadvertised' %}*){% endif %}
                              </td>
                              <td>{{ list.fqdn_listname }}</td>
                              <td>{{ list.settings.description }} </td>
                           </tr>
                       {% else %}
                         {% user_is_list_owner request.user list.list_id as is_owner %} 
                         {% if is_owner %}
                           <tr>
                              <td>
                                <a href="{% url 'list_summary' list_id=list.list_id %}">{{ list.display_name }}</a>
                                {% if not list.settings.advertised %} ({% trans 'unadvertised' %}*){% endif %}
                              </td>
                              <td>{{ list.fqdn_listname }}</td>
                              <td>{{ list.settings.description }} </td>
                           </tr>
                         {% endif %}
                       {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if user.is_superuser %}
            <small>* {% trans 'Only admins see unadvertised lists in the list index.' %}</small>
        {% endif %}
        {% paginator lists %}
    {% else %}
        <p>{% trans 'There are currently no mailing lists.' %}</p>
    {% endif %}

{% endblock content %}
