# This is the absolute bare minimum base configuration file.  User supplied
# configurations are pushed onto this.

[mailman]
# This address is the "site owner" address.  Certain messages which must be
# delivered to a human, but which can't be delivered to a list owner (e.g. a
# bounce from a list owner), will be sent to this address.  It should point to
# a human.
site_owner: root@localhost
layout: here

[paths.here]
# Everything in the same directory
var_dir: /opt/mailman/var

[database]
class: mailman.database.postgresql.PostgreSQLDatabase
#to connect to domain socket omit the host part
#url: postgres://mailman:mailman@localhost/mailman
url: postgresql://mailman:mailman@/mailman

[archiver.hyperkitty]
class: mailman_hyperkitty.Archiver
enable: yes
configuration: /opt/mailman/hyperkitty/example_project/hyperkitty.cfg

#[archiver.prototype]
#enable: yes

[webservice] 
admin_pass: restpassPLACEHOLDER

[mta]
remove_dkim_headers: yes
<% if @zeyple_enabled == true -%>
smtp_port: 10027
<% end -%>

[language.en]
charset: utf-8
