Alias /mailman/static /opt/mailman/postorius/example_project/static

<Directory "/opt/mailman/postorius/example_project/static">
    Order deny,allow
    Allow from all
</Directory>

<% if @hyperkitty_public -%>
Alias /hyperkitty/static /opt/mailman/hyperkitty/example_project/static

<Directory "/opt/mailman/postorius/hyperkitty/static">
    Order deny,allow
    Allow from all
</Directory>
<% end -%>

WSGIDaemonProcess postorius user=mailman python-home=/opt/mailman/venv3 python-path=/opt/mailman/postorius/example_project
#WSGIProcessGroup postorius
WSGIScriptAlias /mailman /opt/mailman/postorius/example_project/wsgi.py process-group=postorius

<Directory "/opt/mailman/postorius/example_project">
    Order deny,allow
    Allow from all

    #redirect non-SSL traffic to SSL
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    #Not allow any connection using HTTP
    Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

</Directory>


<% if @hyperkitty_public -%>
WSGIDaemonProcess hyperkitty user=mailman python-home=/opt/mailman/venv3 python-path=/opt/mailman/hyperkitty/example_project
#WSGIProcessGroup hyperkitty
WSGIScriptAlias /hyperkitty /opt/mailman/hyperkitty/example_project/wsgi.py process-group=hyperkitty

<Directory "/opt/mailman/hyperkitty/example_project">
    Order deny,allow
    Allow from all

    #allow auth token
    WSGIPassAuthorization On

    #redirect non-SSL traffic to SSL
    RewriteEngine On
    RewriteCond %{HTTPS} off
    #don't rewrite connections from mailman to localhost!
    RewriteCond %{HTTP_HOST} !=localhost
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    #Not allow any connection using HTTP
    Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

</Directory>
<% end -%>
