#!/bin/bash

#read admin user password from ldap and set environment variables
dn="ou=password,ou=mailman,ou=groups,dc=example,dc=tld"
#try to decrypt password if gnupg kit is setup
if [[ -d /usr/share/mxcp/.gnupg ]]
then
  mailman=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" | base64 -d | gpg --decrypt)
else
  mailman=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" )
fi

## python script cambio contraseña mailman
umask 077 && printf 'from django.contrib.auth.models import User
user = User.objects.get(username="<%= scope.lookupvar('helpers::passwd::adminuser') -%>")
p1 = "' > /tmp/mailman.py
umask 077 && echo -n $mailman >> /tmp/mailman.py
umask 077 && printf '"
user.set_password(p1)
user.save()
' >> /tmp/mailman.py
chown mailman /tmp/mailman.py

## python script cambio nombre sitio por defecto
umask 077 && printf 'from django.contrib.sites.models import Site
site = Site.objects.get(id=1)
site.name = "<%= scope.lookupvar('mailman::fqdn') -%>"
site.domain = "<%= scope.lookupvar('mailman::fqdn') -%>"
site.save()
' > /tmp/mailman_site.py
chown mailman /tmp/mailman_site.py

# Get user mail
url="ldapi://"
basedn="dc=example,dc=tld"
useremail=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" -s one "(&(objectclass=simpleSecurityObject)(status=active))" | awk -F ": " '$1 == "email" {print $2}'`

#creamos usuario mailman en django
sudo -u mailman bash -c "source /opt/mailman/venv3/bin/activate; cd /opt/mailman/postorius/example_project; python manage.py createsuperuser --noinput --username <%= scope.lookupvar('helpers::passwd::adminuser') -%> --email $useremail ; deactivate"

#cargamos script de cambio de contraseña en la shell de django
sudo -u mailman bash -c "source /opt/mailman/venv3/bin/activate; cd /opt/mailman/postorius/example_project; python manage.py shell < /tmp/mailman.py; deactivate"

#cargamos script de cambio de nombre de site en la shell de django
sudo -u mailman bash -c "source /opt/mailman/venv3/bin/activate; cd /opt/mailman/postorius/example_project; python manage.py shell < /tmp/mailman_site.py; deactivate"

### ELIMINACION DE SCRIPT TEMPORAL #####
rm /tmp/mailman.py
rm /tmp/mailman_site.py

#delete ldap password
ldapdelete -H ldapi:// -Y EXTERNAL "$dn"

### STATUS FILE #####
echo "ok" > /etc/maadix/status/mailman
