# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'secretkeyPLACEHOLDER'

ALLOWED_HOSTS = ["*"]

# Mailman API credentials
MAILMAN_REST_API_PASS = 'restpassPLACEHOLDER'

# URL prefix for static files.
# Example: "http://example.com/static/", "http://static.example.com/"
STATIC_URL = '/mailman/static/'

# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Last part is one of 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'mailman',  # Example, change as needed
        'USER': 'mailman',  # Example, change as needed
        'PASSWORD': 'mailman',  # Example, obviously
        'HOST': '',   # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '',            # Set to empty string for default.
    }
}

# From Address for emails sent to users
DEFAULT_FROM_EMAIL = 'postorius@<%= scope.lookupvar('mailman::fqdn') -%>'
# From Address for emails sent to admins
SERVER_EMAIL = 'root@<%= scope.lookupvar('mailman::fqdn') -%>'

# If you're behind a proxy, use the X-Forwarded-Host header
# See https://docs.djangoproject.com/en/1.5/ref/settings/#use-x-forwarded-host
#USE_X_FORWARDED_HOST = True
# And if your proxy does your SSL encoding for you, set SECURE_PROXY_SSL_HEADER
# see https://docs.djangoproject.com/en/1.5/ref/settings/#secure-proxy-ssl-header
#SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')

# Internationalization
# https://docs.djangoproject.com/en/1.6/topics/i18n/

#LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'Europe/Madrid'

# Allow authentication with the internal user database?
# By default, only a login through Persona or your email provider is allowed.
USE_INTERNAL_AUTH = True

# Use SSL when logged in. You need to enable the SSLRedirect middleware for
# this feature to work.
USE_SSL = False

# Disable allauth social accounts login
INSTALLED_APPS = (
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'postorius',
    'django_mailman3',
    'django_gravatar',
    'allauth',
    'allauth.account',
    'allauth.socialaccount',
    #'allauth.socialaccount.providers.openid',
    #'django_mailman3.lib.auth.fedora',
    #'allauth.socialaccount.providers.github',
    #'allauth.socialaccount.providers.gitlab',
    #'allauth.socialaccount.providers.google',
    #'allauth.socialaccount.providers.facebook',
    #'allauth.socialaccount.providers.twitter',
    #'allauth.socialaccount.providers.stackexchange',
)

#disable social accounts providers
SOCIALACCOUNT_PROVIDERS = { }

POSTORIUS_TEMPLATE_BASE_URL = "https://<%= scope.lookupvar('mailman::fqdn') -%>/mailman"


# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False
