# Define /cpanel-old alias, this is the default
<IfModule mod_alias.c>
    Alias /cpanel-old /usr/share/cpanel
</IfModule>

<Directory /usr/share/cpanel>

    DirectoryIndex index.php
    Options +FollowSymLinks
    AllowOverride None
    Order allow,deny
    Allow from all

    <IfModule mod_headers.c>
      Header set Content-Security-Policy "default-src 'self' ; font-src 'self'; img-src 'self' assets.maadix.net/; object-src 'none'; script-src 'self'; style-src 'self'; child-src 'self'; worker-src 'self'; frame-src 'self'"
    </IfModule>

    #redirect non-SSL traffic to SSL
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    #Not allow any connection using HTTP
    Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

</Directory>

