#!/bin/bash

##### Config ###############################

url="ldapi://"
basedn="dc=example,dc=tld"
cpanelobject="ou=cpanel,dc=example,dc=tld"
apiobject="ou=api,dc=example,dc=tld"
cpaneldn="ou=cpanel"
lockattribute="status"
releaseattribute="type"
timestampattribute="creationDate"
statusattribute="status"
groupsdn="ou=groups,dc=example,dc=tld"
timestamp=$(date +%s)
date=$(date -u +"%Y-%m-%d-%T")
hostname=$(hostname)
logdir="/etc/maadix/logs"
logmail="<%= scope.lookupvar('cpanel::logmail') -%>"
emergencymail="logs@maadix.org"

##### Functions ###############################

function setlockstatus ()
{
#echo "$1"
ldapmodify -Q -Y EXTERNAL -H "$url"  << EOF
dn: $cpanelobject
changetype: modify
replace: $lockattribute
$lockattribute: $1

EOF
}

function settimestamp ()
{
ldapmodify -Q -Y EXTERNAL -H "$url"  << EOF
dn: $cpanelobject
changetype: modify
replace: $timestampattribute
$timestampattribute: $timestamp

EOF
}

function setstatus ()
{
echo "$1"
echo "$2"
ldapmodify -Q -Y EXTERNAL -H "$url"  << EOF
dn: ou=${1},${groupsdn}
changetype: modify
replace: $statusattribute
$statusattribute: $2

EOF
}

function sendusermail ()
{

# Get user mail and name
useremail=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" -s one "(&(objectclass=simpleSecurityObject)(status=active))" | awk -F ": " '$1 == "email" {print $2}'`
username=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" -s one "(&(objectclass=simpleSecurityObject)(status=active))" | awk -F ": " '$1 == "cn" {print $2}'`

# Body
read -r -d '' body << EOM
Hola,

La tarea de Mantenimiento o Actualización que has ejecutado desde el panel de control del servidor ${hostname}.maadix.org ha producido un error.

El equipo técnico ha sido notificado y está ahora trabajando en la solución.
En breve se pondrá en contacto contigo.

Un saludo

----------
MaadiX.net
https://maadix.net

EOM

# Send mail
echo "$body" | mail -s "Maadix: incidencia en ${hostname}" $useremail

}


function updatevmstatus ()
{

# Get userid, token and api url
userid=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$apiobject" -s base | awk -F ": " '$1 == "uid" {print $2}'`
tokenbase64=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$apiobject" -s base | awk -F ":: " '$1 == "userPassword" {print $2}'`
host=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$apiobject" -s base | awk -F ": " '$1 == "host" {print $2}'`
apiurl="${host}vmupdate/${hostname}"
token=`echo "$tokenbase64" | base64 --decode`

# Update status
curl $apiurl -X POST -H "Content-Type: application/json" -H "X-Auth-Token: ${token}" -H "X-User-Id: ${userid}" -d '{"puppetstatus" : "'"$1"'"}'

}


##### Tasks ###############################

# Search lock status
status=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" "$cpaneldn" | awk -F ": " '$1 == "'"$lockattribute"'" {print $2}'`
echo "$status"

# If cpanel is locked trigger puppet
if [ "$status" = 'locked' ]; then

  # Search if any of the modules of puppet apply is locked
  llocked=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$cpanelobject" -s one "(status=locked)" | grep ^dn: | wc -l`
  if [ "$llocked" -gt 0 ]; then
    echo "Puppet apply modules pending: $llocked, exiting"
    exit 1
  fi

  sleep 2

  # If puppet apply process exists, exit
  if [[ $(pgrep -f "puppet apply") ]]; then
    papply=`pgrep -f "puppet apply"`
    echo "Puppet apply is running with pid $papply, exit"
    exit 1
  fi

  echo "cpanel is locked, triggering puppet!"

  # Stop cron
  /usr/sbin/service cron stop

  # Change ldap to running
  setlockstatus running

  # Search release
  release=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" "$cpaneldn" | awk -F ": " '$1 == "'"$releaseattribute"'" {print $2}'`
  echo "$release"

  # Search groups to install
  groups=()
  while IFS= read -r line; do
    groups+=( "$line" )
  done < <( ldapsearch -Q -Y EXTERNAL -H "$url" -b "$groupsdn" "(&(objectclass=*)(status=install))" | awk -F ": " '$1 == "ou" {print $2}' )

  # Set release in puppet.conf
  sed -i 's/environment.*/environment = '"$release"'/' /etc/puppetlabs/puppet/puppet.conf

  # Stop monit
  /usr/sbin/service monit stop

  # Run unattended-upgrades with output to log folder
  # This run in puppet, commented here
  #/usr/bin/unattended-upgrades 2>&1 | tee "${logdir}/${date}_upgrades.txt"
  # Send unattended-upgrades log to admin
  #cat "${logdir}/${date}_upgrades.txt" | mail -s "Unattended-upgrades log in ${hostname}" $logmail

  # Run puppet with output to log folder
  /opt/puppetlabs/bin/puppet agent --certname <%=@hostname %>.<%= scope.lookupvar('cpanel::puppet_cert_domain') -%> --test --detailed-exitcode > "${logdir}/${date}_stdout.txt" 2> "${logdir}/${date}_stderr.txt"

  # Tasks if puppet success or fail
  exitcode=$?
  if [ ${exitcode} -eq 0 ] || [ ${exitcode} -eq 2 ]
    then
      echo "Puppet successful - Exit code ${exitcode}"

      # Add status enabled to groups and send password by mail
      for i in "${groups[@]}"
      do
          #setstatus
  	  setstatus $i enabled
          #send pass by mail
          if [ -x "/etc/maadix/mail/${i}.sh" ]; then /bin/bash "/etc/maadix/mail/${i}.sh" ${i}; fi
      done

      # Send mail to admin with log, removing color codes from log file
      cat "${logdir}/${date}_stdout.txt" | sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g" | mail -s "Puppet Cron log in ${hostname}" $logmail

      # Add status 'ready' to VM in API
      updatevmstatus ready

    else
      echo "Puppet error - Exit code ${exitcode}"

      # Send mail to admin with error log, removing color codes from log file
      cat "${logdir}/${date}_stderr.txt" | sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g" | mail -s "Puppet Error in ${hostname}" $logmail

      # Send emergency notice mail to maadix
      if [[ "$logmail" != "$emergencymail" ]]
      then
        cat "${logdir}/${date}_stderr.txt" | sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g" | mail -s "Puppet Error in ${hostname}" $emergencymail
      fi

      # Send mail to user
      sendusermail

      # Add status 'error' to VM in API
      updatevmstatus error

  fi

  # Set timestamp
  settimestamp

  # Change ldap to ready
  setlockstatus ready

  # Start cron
  /usr/sbin/service cron restart

  # Start monit
  /usr/sbin/service monit start
  # Since puppet may restart some services that could timeout monitor, reload monit after puppet agent run (old way)
  #/usr/bin/monit reload
  #sleep 10
  #/usr/bin/monit monitor all

elif [ "$status" = 'running' ]; then

  echo "puppet is already running, i'll check again in next cron run"
else

  echo "nothing to do, i'll check again in next cron run"
fi

