import ldap
from django_auth_ldap.config import LDAPSearch, LDAPSearchUnion, LDAPGroupQuery
from django.conf import settings

SITE_URL           = 'https://<%= @fqdn -%>/'
ALLOWED_HOSTS      = ['localhost','<%= @fqdn -%>']
SCHOOL_DOMAIN      = '<%= @school_domain -%>'
SCHOOL_MAIL_DOMAIN = '<%= @school_mail_domain %>'
SCHOOL_API_URL     = 'https://admin.' + SCHOOL_DOMAIN
DEFAULT_QUOTA      = '1073741824'


SMTP_SERVER   = '<%= @smtp_server -%>'
IMAP_SERVER   = '<%= @fqdn -%>'
POP3_SERVER   = IMAP_SERVER
IMAP_PORT     = 993
POP3_PORT     = 995
SMTP_PORT     = 465
AUTH_PASS     = "normal"
MAIL_SECURITY = "SSL/TLS"

#mailman
<% if @lists_domain -%>
LISTS_DOMAIN = '<%= @lists_domain -%>'
<% else -%>
LISTS_DOMAIN = ''
<% end -%>
<% if @lists_names -%>
LISTS_NAMES  = '<%= @lists_names -%>'
<% else -%>
LISTS_NAMES  = ''
<% end -%>

# django ldap auth
LDAP_AUTH_URL         = 'ldap://<%= @ldap_server -%>:389'
AUTH_LDAP_SERVER_URI  = LDAP_AUTH_URL
AUTH_LDAP_START_TLS   = True
LDAPTLS_CACERT        = '/etc/ssl/certs/ca-certificates.crt'
AUTH_LDAP_BIND_DN     = 'cn=postmaster,vd=<%= @school_mail_domain -%>,o=hosting,dc=example,dc=tld'

# This is to allow users authetication by email (for changing their own pass and settings) as well as admin user
# Meybe we remove admin user
AUTH_LDAP_USER_SEARCH = LDAPSearchUnion(
            LDAPSearch("dc=example,dc=tld", ldap.SCOPE_ONELEVEL, "(cn=%(user)s)"),
            LDAPSearch("o=hosting,dc=example,dc=tld",ldap.SCOPE_SUBTREE,"(mail=%(user)s)"),
            )

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'ddcp',
        'USER': 'ddcp',
    },
}


DATABASE_ROUTERS  = ['ldapdb.router.Router']
URL_SOCKET        = SCHOOL_API_URL + "/sockettest/" 
NAMESPACES_SOCKET = ["/sio/events" ]
