server_host      = ldapi:///
search_base      = o=mails,dc=whitelist,dc=tld
bind             = sasl
sasl_mechs       = EXTERNAL
version          = 3
cache            = no
query_filter     = (&(objectClass=inetOrgPerson)(mail=%s)(destinationIndicator=<%= @fqdn -%>))
result_attribute = mail
result_filter    = OK

