##
## SSL settings
##

# SSL/TLS support: yes, no, required. <doc/wiki/SSL.txt>

ssl = <%= scope.lookupvar('dovecot::params::ssl') -%>

# PEM encoded X.509 SSL/TLS certificate and private key. They're opened before
# dropping root privileges, so keep the key file unreadable by anyone but
# root. Included doc/mkcert.sh can be used to easily generate self-signed
# certificate, just make sure to update the domains in dovecot-openssl.cnf
#ssl_cert = </etc/dovecot/dovecot.pem
#ssl_key = </etc/dovecot/private/dovecot.pem

<% if scope.lookupvar('dovecot::params::ssl_cert') != '' %>
ssl_cert = <<%= scope.lookupvar('dovecot::params::ssl_cert') -%>
<% end %>

<% if scope.lookupvar('dovecot::params::ssl_key') != '' %>
ssl_key = <<%= scope.lookupvar('dovecot::params::ssl_key') -%>
<% end %>



# If key file is password protected, give the password here. Alternatively
# give it when starting dovecot with -p parameter. Since this file is often
# world-readable, you may want to place this setting instead to a different
# root owned 0600 file by using ssl_key_password = <path.
#ssl_key_password =

# PEM encoded trusted certificate authority. Set this only if you intend to use
# ssl_verify_client_cert=yes. The file should contain the CA certificate(s)
# followed by the matching CRL(s). (e.g. ssl_ca = </etc/ssl/certs/ca.pem)
#ssl_ca = 

# Require that CRL check succeeds for client certificates.
#ssl_require_crl = yes

# Directory and/or file for trusted SSL CA certificates. These are used only
# when Dovecot needs to act as an SSL client (e.g. imapc backend). The
# directory is usually /etc/ssl/certs in Debian-based systems and the file is
# /etc/pki/tls/cert.pem in RedHat-based systems.
#ssl_client_ca_dir =
#ssl_client_ca_file =

# Request client to send a certificate. If you also want to require it, set
# auth_ssl_require_client_cert=yes in auth section.
#ssl_verify_client_cert = no

# Which field from certificate to use for username. commonName and
# x500UniqueIdentifier are the usual choices. You'll also need to set
# auth_ssl_username_from_cert=yes.
#ssl_cert_username_field = commonName

# DH parameters length to use.
ssl_dh_parameters_length = <%= scope.lookupvar('dovecot::params::ssl_dh_parameters_length') -%>

# SSL protocols to use
ssl_min_protocol = <%= scope.lookupvar('dovecot::params::ssl_min_protocol') -%>

# SSL ciphers to use
ssl_cipher_list = <%= scope.lookupvar('dovecot::params::ssl_cipher_list') -%>

# Prefer the server's order of ciphers over client's.
ssl_prefer_server_ciphers = <%= scope.lookupvar('dovecot::params::ssl_prefer_server_ciphers') -%>

# SSL crypto device to use, for valid values run "openssl engine"
#ssl_crypto_device =
