[opcache]
opcache.enable=1
opcache.enable_cli=1
opcache.interned_strings_buffer=<%= @php_opcache_buffer %>
opcache.max_accelerated_files=<%= @php_opcache_files %>
opcache.memory_consumption=<%= @php_opcache_memory %>
opcache.save_comments=1
opcache.validate_timestamps=1
opcache.revalidate_freq=1

