<IfModule mod_alias.c>
    Alias /rainloop /var/www/rainloop
</IfModule>

<Directory /var/www/rainloop>
    Options +Indexes +FollowSymLinks +ExecCGI
    AllowOverride All
    Order deny,allow
    Allow from all
    Require all granted

    #redirect non-SSL traffic to SSL
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    #Not allow any connection using HTTP
    Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

   #fpm
   <FilesMatch "\.php$">
      SetHandler "proxy:unix:/run/php/fpmrainloop-fpm.sock|fcgi://localhost"
   </FilesMatch>


</Directory>

<Directory /var/www/rainloop/data>
    Order deny,allow
    Deny from all
</Directory>

