#!/bin/bash

/usr/bin/cp -Rp /etc/letsencrypt/live/<%=@fqdn %> /etc/ldap/certs/live/
/usr/bin/cp -Rp /etc/letsencrypt/archive/<%=@fqdn %> /etc/ldap/certs/archive/
/usr/bin/chown -R openldap /etc/ldap/certs/live/*
/usr/bin/chown -R openldap /etc/ldap/certs/archive/*
