plugin_paths = { "/usr/share/jitsi-meet/prosody-plugins/" }

-- domain mapper options, must at least have domain base set to use the mapper
muc_mapper_domain_base = "<%= scope.lookupvar('helpers::jitsi::domain') -%>";

-- disable turncredentials. doc: https://github.com/jitsi/jitsi-meet/blob/master/doc/turn.md
-- turncredentials_secret = "secret";

-- turncredentials = {
--  { type = "stun", host = "<%= scope.lookupvar('helpers::jitsi::domain') -%>", port = "443" },
--  { type = "turn", host = "<%= scope.lookupvar('helpers::jitsi::domain') -%>", port = "443", transport = "udp" },
--  { type = "turns", host = "<%= scope.lookupvar('helpers::jitsi::domain') -%>", port = "443", transport = "tcp" }
--};

cross_domain_bosh = false;
consider_bosh_secure = true;

VirtualHost "<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        -- enabled = false -- Remove this line to enable this host
        authentication = "ldap2"
        -- Properties below are modified by jitsi-meet-tokens package config
        -- and authentication above is switched to "token"
        --app_id="example_app_id"
        --app_secret="example_app_secret"
        -- Assign this host a certificate for TLS, otherwise it would use the one
        -- set in the global section (if any).
        -- Note that old-style SSL on port 5223 only supports one certificate, and will always
        -- use the global one.
        ssl = {
                key = "/etc/prosody/certs/<%= scope.lookupvar('helpers::jitsi::domain') -%>.key";
                certificate = "/etc/prosody/certs/<%= scope.lookupvar('helpers::jitsi::domain') -%>.crt";
        }
        speakerstats_component = "speakerstats.<%= scope.lookupvar('helpers::jitsi::domain') -%>"

        conference_duration_component = "conferenceduration.<%= scope.lookupvar('helpers::jitsi::domain') -%>"

        -- we need bosh
        modules_enabled = {
            "bosh";
            "pubsub";
            "ping"; -- Enable mod_ping
            "speakerstats";
            "conference_duration";
        }

        c2s_require_encryption = false

VirtualHost "guest.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
    authentication = "anonymous"
    c2s_require_encryption = false

Component "conference.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "muc"
    storage = "null"
    modules_enabled = {
        "muc_meeting_id";
        "muc_domain_mapper";
        -- "token_verification";
    }
    admins = { "focus@auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>" }

-- internal muc component
Component "internal.auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "muc"
    storage = "null"
    modules_enabled = {
      "ping";
    }
    admins = { "focus@auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>", "jvb@auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>" }

VirtualHost "auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
    ssl = {
        key = "/etc/prosody/certs/auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>.key";
        certificate = "/etc/prosody/certs/auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>.crt";
    }
    authentication = "internal_plain"

Component "focus.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
    component_secret = "jicofoPLACEHOLDER"

Component "speakerstats.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "speakerstats_component"
    muc_component = "conference.<%= scope.lookupvar('helpers::jitsi::domain') -%>"

Component "conferenceduration.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "conference_duration_component"
    muc_component = "conference.<%= scope.lookupvar('helpers::jitsi::domain') -%>"

