plugin_paths = { "/usr/share/jitsi-meet/prosody-plugins/" }

-- domain mapper options, must at least have domain base set to use the mapper
muc_mapper_domain_base = "<%= scope.lookupvar('helpers::jitsi::domain') -%>";

-- disable turncredentials. doc: https://github.com/jitsi/jitsi-meet/blob/master/doc/turn.md
-- turncredentials_secret = "secret";

-- turncredentials = {
--  { type = "stun", host = "<%= scope.lookupvar('helpers::jitsi::domain') -%>", port = "3478" },
--  { type = "turn", host = "<%= scope.lookupvar('helpers::jitsi::domain') -%>", port = "3478", transport = "udp" },
--  { type = "turns", host = "<%= scope.lookupvar('helpers::jitsi::domain') -%>", port = "5349", transport = "tcp" }
--};

cross_domain_bosh = false;
consider_bosh_secure = true;
cross_domain_websocket = true;
consider_websocket_secure = true;
https_ports = { }; -- Remove this line to prevent listening on port 5284

-- https://ssl-config.mozilla.org/#server=haproxy&version=2.1&config=intermediate&openssl=1.1.0g&guideline=5.4
ssl = {
  protocol = "tlsv1_2+";
  ciphers = "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384"
}

VirtualHost "<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        -- enabled = false -- Remove this line to enable this host
        authentication = "ldap2"
        -- Properties below are modified by jitsi-meet-tokens package config
        -- and authentication above is switched to "token"
        --app_id="example_app_id"
        --app_secret="example_app_secret"
        -- Assign this host a certificate for TLS, otherwise it would use the one
        -- set in the global section (if any).
        -- Note that old-style SSL on port 5223 only supports one certificate, and will always
        -- use the global one.
        ssl = {
                key = "/etc/prosody/certs/<%= scope.lookupvar('helpers::jitsi::domain') -%>.key";
                certificate = "/etc/prosody/certs/<%= scope.lookupvar('helpers::jitsi::domain') -%>.crt";
        }
        speakerstats_component = "speakerstats.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        conference_duration_component = "conferenceduration.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        -- we need bosh
        modules_enabled = {
            "bosh";
            "pubsub";
            "ping"; -- Enable mod_ping
            "speakerstats";
            "conference_duration";
            "muc_lobby_rooms";
            "websocket";
            "smacks";
        }
        smacks_max_unacked_stanzas = 5;
        smacks_hibernation_time = 60; 
        smacks_max_hibernated_sessions = 1;
        smacks_max_old_sessions = 1;
        c2s_require_encryption = false
        lobby_muc = "lobby.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        main_muc = "conference.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        -- muc_lobby_whitelist = { "recorder.<%= scope.lookupvar('helpers::jitsi::domain') -%>" } -- Here we can whitelist jibri to enter lobby enabled rooms

VirtualHost "guest.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
    authentication = "anonymous"
    c2s_require_encryption = false

Component "conference.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "muc"
    storage = "memory"
    modules_enabled = {
        "muc_meeting_id";
        "muc_domain_mapper";
        -- "token_verification";
    }
    admins = { "focus@auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>" }
    muc_room_locking = false
    muc_room_default_public_jids = true

-- internal muc component
Component "internal.auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "muc"
    storage = "memory"
    modules_enabled = {
      "ping";
    }
    admins = { "focus@auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>", "jvb@auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>" }
    muc_room_locking = false
    muc_room_default_public_jids = true

VirtualHost "auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
    ssl = {
        key = "/etc/prosody/certs/auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>.key";
        certificate = "/etc/prosody/certs/auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>.crt";
    }
    authentication = "internal_plain"

Component "focus.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
    component_secret = "jicofoPLACEHOLDER"

Component "speakerstats.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "speakerstats_component"
    muc_component = "conference.<%= scope.lookupvar('helpers::jitsi::domain') -%>"

Component "conferenceduration.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "conference_duration_component"
    muc_component = "conference.<%= scope.lookupvar('helpers::jitsi::domain') -%>"

Component "lobby.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "muc"
    storage = "memory"
    restrict_room_creation = true
    muc_room_locking = false
    muc_room_default_public_jids = true
