{
    "smtp": "false",
    "user": "none",
    "password": "none",
    "host": "localhost",
    "port": "25",
    "tls": "false",
    "ssl": "false",
    "invitationmsg": "The user \n\n<fromuser> has added you to the Etherpad private group <groupname>.\nYou can now begin to work collaboratively with the group members and read, edit any pad within this group.\n\n Why to wait? Click here to get started: <url>",
    "invitationfrom": "etherpad@<%= scope.lookupvar('helpers::etherpad::fqdn') -%>",
    "invitationsubject": "[Etherpad] Group Invitation",
    "registrationtext": "Hello,\n\nYour registration at Etherpad was successfull! To complete your registration please click on the following link: <url> \nAfter completing registration, please log in with your new account.",
    "registrationfrom": "etherpad@<%= scope.lookupvar('helpers::etherpad::fqdn') -%>",
    "registrationsubject": "[Etherpad] Registration",
    "resetpwmsg": "Your new Password for your etherpad Account: <password>",
    "resetfrom": "etherpad@<%= scope.lookupvar('helpers::etherpad::fqdn') -%>",
    "resetsubject": "Password reset for Etherpad-lite",
    "invitateunregisterednmsg": "<fromuser> has added you to the Group: <groupname>. Please register at <url> to enter the group!",
    "invitationfromadminmsg": "A new Etherpad account has been created for you. To complete your registration please click on the following link: <url> \nAfter completing registration, please log in with your new account.",
    "pswdresetsubject": "[Etherpad] Password Reset",
    "pswdresetmsg": "A new password was requested for your Etheprad account.\n\n To reset your password click on the link below.\n\n<url>"
}
