[Unit]
Description=etherpad
After=syslog.target network.target

[Service]
UMask=0027
Type=simple
User=etherpad
Group=etherpad
#ExecStart=source /var/www/etherpad/.nvm/nvm.sh && /var/www/etherpad/etherpad-lite/bin/run.sh
#doc: https://gist.github.com/joepie91/73ce30dd258296bd24af23e9c5f761aa
Environment=NODE_VERSION=<%= scope.lookupvar('helpers::etherpad::node_version') -%>

Environment=NODE_ENV=production

ExecStart=/var/www/etherpad/.nvm/nvm-exec /var/www/etherpad/etherpad-lite/bin/run.sh

[Install]
WantedBy=multi-user.target

