    LoadModule  proxy_module         /usr/lib/apache2/modules/mod_proxy.so
    LoadModule  proxy_http_module    /usr/lib/apache2/modules/mod_proxy_http.so
    LoadModule  headers_module       /usr/lib/apache2/modules/mod_headers.so
    LoadModule  deflate_module       /usr/lib/apache2/modules/mod_deflate.so
    LoadModule proxy_wstunnel_module /usr/lib/apache2/modules/mod_proxy_wstunnel.so

    <Location /etherpad>
      RewriteEngine On
      RewriteCond %{HTTPS} off
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
      #Not allow any connection using HTTP
      Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"
    </Location>

    <Location /etherpad/socket.io>
      # This is needed to handle the websocket transport through the proxy, since
      # etherpad does not use a specific sub-folder, such as /ws/ to handle this kind of traffic.
      # Taken from https://github.com/ether/etherpad-lite/issues/2318#issuecomment-63548542
      # Thanks to beaugunderson for the semantics
      RewriteEngine On
      RewriteCond %{QUERY_STRING} transport=websocket    [NC]
      RewriteRule /(.*) ws://localhost:9001/socket.io/$1 [P,L]
      ProxyPass http://localhost:9001/socket.io retry=0 timeout=30
      ProxyPassReverse http://localhost:9001/socket.io
    </Location>

    ProxyVia On
    ProxyRequests Off
    ProxyPass /etherpad/ http://localhost:9001/
    ProxyPassReverse /etherpad/ http://localhost:9001/
    ProxyPreserveHost on
    RedirectMatch Permanent ^/login$ /etherpad/login
    RedirectMatch Permanent ^/etherpad /etherpad/
    <Proxy http://localhost:9001 >
        Options FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Proxy>

