<!DOCTYPE html>
<html lang="en">

<head>
    <title>IfcOpenShell viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    
    <script>
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            FileList.prototype.map = function(fn) { var r = []; for (var i = 0; i < this.length; ++i) { r.push(fn(this[i])); } return r; }
        }
    </script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 20px 10%; min-height: 400px;') }}
    
    <style>
        .dropzone .dz-preview .dz-image {
            width: 300px;
            background: #eee !important;
            border: solid 1px #ddd;
        }

        .dropzone .dz-preview .dz-progress {
            width: 200px;
            margin-left: -100px;
        }

        .dropzone * {
            border-radius: 0 !important;
        }
        
        .dropzone .dz-preview .dz-details .dz-size {
            margin-bottom: 2em;
        }
        
        .dropzone {
            border: 2px dashed #bbb;
            border-radius: 20px;
            background: #fafafa;
        }
        
        .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
            background: none;
        }
    </style>
<body style="text-align: center">

    <h3>IfcOpenShell viewer</h3>

    {{ dropzone.create('put_main') }}
    {{ dropzone.load_js() }}

    <script>
        Dropzone.prototype.defaultOptions.dictDefaultMessage = "Drop files or click here to upload";
        Dropzone.options.myDropzone = {
            autoProcessQueue: false,
            acceptedFiles: ".ifc",
            parallelUploads: 1000,
            uploadMultiple: true,
            addRemoveLinks: false,
            timeout: 0,
            maxFilesize: 8 * 1024,
            
            init: function () {
                var submitButton = document.querySelector("#submit")
                myDropzone = this;

                submitButton.addEventListener("click", function () {
                    myDropzone.removeEventListeners();
                    myDropzone.processQueue();
                });

                this.on("success", function (file, response) {
                    window.location = response.url;
                });
            }
        };
    </script>

    <div class="notice" style="font-size: .85em; font-family: sans-serif; max-width: 600px; margin: 2em auto; padding: 1em; background-color: #fff100; border-radius: 10px;">
    <%- if @help != '' -%>
      <%= @help %>
    <%- else -%>
      <p><strong>This page allows you to visualize an IFC model in your browser.</strong> The viewer allows you to rotate, zoom in and out of a model, and to turn model layers on and off.</p>
      <p>You can upload any IFC file. Please, be patient. <strong>The upload process could take long time</strong> depending on your internet connection and the size of the IFC file. After the file will be uploaded, it will be prepared to be shown in the browser. This second process could be as long as the upload one.</p>
      <p>Once the model appeared in your browser <strong>you can copy the URL to share the model with other people</strong>. Models will be removed from the server after one month.</p>
    <%- end -%>
    </div>

    <button id="submit" style="padding: 10px 20px; border-radius:5px">Submit</button>
    
</body>
</html>
