#find models directories in the 4th level older than <%= @purge_days %> days. if directories exists, delete them
29 3 * * *  root find /var/www/ifcviewer/ifcviewer/models/ -maxdepth 4 -mindepth 4 -type d -mtime +<%= @purge_days %> | xargs -i sh -c 'test -d {} && ls -l {}'
30 3 * * *  root find /var/www/ifcviewer/ifcviewer/models/ -maxdepth 4 -mindepth 4 -type d -mtime +<%= @purge_days %> | xargs -i sh -c 'test -d {} && rm -r {}'
