#!/bin/bash

#purge old conf
echo PURGE | debconf-communicate jicofo
echo PURGE | debconf-communicate jitsi-meet-prosody
echo PURGE | debconf-communicate jitsi-meet-web-config
echo PURGE | debconf-communicate jitsi-videobridge2

#set conf
echo "jicofo jitsi-videobridge/jvb-hostname string <%= scope.lookupvar('helpers::jitsi::domain') -%>" | debconf-set-selections
echo "jitsi-meet-prosody jitsi-videobridge/jvb-hostname string <%= scope.lookupvar('helpers::jitsi::domain') -%>" | debconf-set-selections
echo "jitsi-meet-web-config jitsi-videobridge/jvb-hostname string <%= scope.lookupvar('helpers::jitsi::domain') -%>" | debconf-set-selections
echo "jitsi-videobridge2 jitsi-videobridge/jvb-hostname string <%= scope.lookupvar('helpers::jitsi::domain') -%>" | debconf-set-selections

