#!/bin/bash

#read password from file
file="/etc/maadix/ldap"
ldap=$(cat "$file")

## read plain password and generate hash
ldaphashed=$(slappasswd -h {SSHA} -s $ldap)

## change user admin password
ldapmodify -Q -Y EXTERNAL -H ldapi:/// << EOF
dn: cn=<%= scope.lookupvar('helpers::passwd::adminuser') -%>,dc=example,dc=tld
changetype: modify
replace: userpassword
userpassword: $ldaphashed
EOF

### STATUS FILE #####
echo "ok" > /etc/maadix/status/ldap
