authentication = 'ldap2'

ldap = {
    hostname = '<%= scope.lookupvar('helpers::jitsi::ldap_hostname') %>',
    bind_dn = 'cn=jitsi,ou=credentials,dc=example,dc=tld',
    bind_password = 'jitsildapPLACEHOLDER',
    use_tls = true,
    user = {
        namefield = 'cn',
        basedn = 'ou=sshd,ou=People,dc=example,dc=tld',
        usernamefield = 'uid',
        filter = '(&(objectClass=organizationalPerson)(authorizedService=jitsi))',
    },
}
