#!/bin/bash

#read admin user password from ldap and set environment variables
dn="ou=password,ou=limesurvey,ou=groups,dc=example,dc=tld"
#try to decrypt password if gnupg kit is setup
if [[ -d /usr/share/mxcp/.gnupg ]]
then
  limesurvey=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" | base64 -d | gpg --decrypt)
else
  limesurvey=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" )
fi

#read ddbb password from file
file="/etc/maadix/limesurveydb"
limesurveydb=$(cat "$file")


#create limesurvey database
if [ -f /root/.my.cnf ]; then
    mysql --defaults-extra-file=/root/.my.cnf -e "CREATE DATABASE limesurvey /*\!40100 DEFAULT CHARACTER SET utf8 */;"
    mysql --defaults-extra-file=/root/.my.cnf -e "CREATE USER limesurvey@localhost IDENTIFIED BY '$limesurveydb';"
    mysql --defaults-extra-file=/root/.my.cnf -e "GRANT ALL PRIVILEGES ON limesurvey.* TO 'limesurvey'@'localhost';"
    mysql --defaults-extra-file=/root/.my.cnf -e "FLUSH PRIVILEGES;"
fi

#limesurvey cli installation
cd /var/www/limesurvey/limesurvey/application/commands
sudo -u fpmlimesurvey php console.php install <%= scope.lookupvar('helpers::limesurvey::adminuser') -%> $limesurvey <%= scope.lookupvar('helpers::limesurvey::adminuser') -%> <%= scope.lookupvar('helpers::limesurvey::usermail') -%>


#set bounce email
mysql --defaults-extra-file=/root/.my.cnf limesurvey -e "INSERT INTO lime_settings_global VALUES ('siteadminbounce','limesurvey-noreply@<%=@fqdn %>')"

#delete ldap password
ldapdelete -H ldapi:// -Y EXTERNAL "$dn"

### STATUS FILE #####
echo "ok" > /etc/maadix/status/limesurvey
