#ldap
import ldap
from django_auth_ldap.config import LDAPSearch, LDAPSearchUnion, LDAPGroupQuery
DEBUG             = False
# django ldap auth
<% if @ldap_public_url == true -%>
LDAP_AUTH_URL         = "ldap://<%= @fqdn %>:389"
<% else -%>
LDAP_AUTH_URL         = "ldap://example.tld:389"
<% end -%>
AUTH_LDAP_START_TLS   = True
AUTH_LDAP_SERVER_URI  = LDAP_AUTH_URL
#AUTH_LDAP_BIND_AS_AUTHENTICATING_USER = True
AUTH_LDAP_BIND_DN = "cn=mxcp,ou=credentials,dc=example,dc=tld"
AUTH_LDAP_BIND_PASSWORD = "mxcpPLACEHOLDER"
AUTH_LDAP_USER_SEARCH = LDAPSearchUnion(
            LDAPSearch("dc=example,dc=tld", ldap.SCOPE_ONELEVEL, "(cn=%(user)s)"),
            LDAPSearch("o=hosting,dc=example,dc=tld",ldap.SCOPE_SUBTREE,"(mail=%(user)s)"),
            )
AUTH_LDAP_ALWAYS_UPDATE_USER = False
#AUTH_LDAP_USER_ATTR_MAP = {"first_name": "givenName", "last_name": "sn", "username" : "cn" }
