version: '3'

services:
  mailtrain:
    image: mailtrain/mailtrain:<%= scope.lookupvar('helpers::mailtrain2::version') %>
    env_file: ./.env
    logging:
      driver: syslog
      options:
        tag: "mailtrain"
    environment:
    - URL_BASE_TRUSTED=https://<%= scope.lookupvar('helpers::mailtrain2::domain') -%>/
    - URL_BASE_SANDBOX=https://<%= scope.lookupvar('helpers::mailtrain2::sandboxdomain') -%>/
    - URL_BASE_PUBLIC=https://<%= scope.lookupvar('helpers::mailtrain2::publicdomain') -%>/
    - WWW_PROXY=true
    #postfixbounce
    #- WITH_POSTFIXBOUNCE=true
    #- POSTFIXBOUNCE_HOST=0.0.0.0
    #postfixbounce
    #ports:
    #- "127.0.0.1:5699:5699"
    volumes:
    - mailtrain-files:/app/server/files
    - mailtrain-static:/app/client/static

volumes:
  mysql-data:
  redis-data:
  mongo-data:
  mailtrain-files:
  mailtrain-static:

