#!/bin/bash

#time needed for mailtrain in first run to create databases
sleep 90

#read admin mail from ldap
useremail=`ldapsearch -Q -Y EXTERNAL -H ldapi:/// -b 'dc=example,dc=tld' -s one "(&(objectclass=simpleSecurityObject)(status=active))" | awk -F ": " '$1 == "email" {print $2}'`

#read admin user password from ldap
dn="ou=password,ou=mailtrain,ou=groups,dc=example,dc=tld"
#try to decrypt password if gnupg kit is setup
if [[ -d /usr/share/mxcp/.gnupg ]]
then
  mailtrainplain=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" | base64 -d | gpg --decrypt)
else
  mailtrainplain=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" )
fi

#to generate hashed password: use htpasswd -bnBC 10 "" password | tr -d ':\n' | sed 's/$2y/$2a/'
#doc: https://unix.stackexchange.com/a/419855 
mailtrain=$(htpasswd -bnBC 10 "" $mailtrainplain | tr -d ':\n' | sed 's/$2y/$2a/')

#set admin user and password
mysql --defaults-extra-file=/root/.my.cnf mailtrain -e "UPDATE users SET username='<%= scope.lookupvar('helpers::mailtrain::adminuser') -%>', password='$mailtrain', email='$useremail' WHERE ID='1';"

#delete ldap password
ldapdelete -H ldapi:// -Y EXTERNAL "$dn"

### STATUS FILE #####
echo 'ok' > /etc/maadix/status/usermailtrain
