#!/bin/bash

#set service_url
mysql --defaults-extra-file=/root/.my.cnf mailtrain -e "UPDATE settings SET value='https://<%= scope.lookupvar('helpers::mailtrain::domain') -%>/' WHERE \`key\`='service_url';"

#set default_homepage
mysql --defaults-extra-file=/root/.my.cnf mailtrain -e "UPDATE settings SET value='https://<%= scope.lookupvar('helpers::mailtrain::domain') -%>/' WHERE \`key\`='default_homepage';"

