#!/bin/bash

##### Config ###############################

url="ldapi://"
basedn="dc=example,dc=tld"
fqdn=$(hostname -f)
group=$1
domaindn="ou=domain,ou=mailtrain,ou=groups,dc=example,dc=tld"
domain=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$domaindn" | awk -F ": " '$1 == "status" {print $2}'`

##### Functions ###############################

function sendusermail ()
{

# Get user mail and name
useremail=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" -s one "(&(objectclass=simpleSecurityObject)(status=active))" | awk -F ": " '$1 == "email" {print $2}'`
username=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" -s one "(&(objectclass=simpleSecurityObject)(status=active))" | awk -F ": " '$1 == "cn" {print $2}'`

# Body
read -r -d '' body << EOM
Hola,

La aplicación ${group} ha sido instalada correctamente en ${domain}

*Mailtrain*: Newsletters

Acceso a la aplicación:
https://${domain}

Datos de acceso:

Usuario: <%= scope.lookupvar('helpers::passwd::adminuser') -%>

Contraseña: (la que insertaste al instalar la app)

Instrucciones de configuración:
https://docs.v2.maadix.net/mailtrain/

Documentación oficial:
https://github.com/Mailtrain-org/mailtrain/wiki

Un saludo

----------
MaadiX.net
https://maadix.net

EOM

# Send mail
echo "$body" | mail -s "Maadix: ${group} instalada en ${fqdn}" $useremail

}

##### Tasks ###############################

sendusermail
