#!/bin/bash

#make a copy of mumble domain cert
rsync -L -a /etc/letsencrypt/live/<%= scope.lookupvar('helpers::mumble::domain') -%> /var/lib/mumble-server/letsencrypt/ 

#if certbot has just renewed it, restart mumble-server
filename=/var/lib/mumble-server/letsencrypt/<%= scope.lookupvar('helpers::mumble::domain') -%>/cert.pem
if [[ $(find "$filename" -mmin -10 -print) ]]; then
  service mumble-server restart
fi
