#!/bin/bash

#read password from file
file="/etc/maadix/mysql"
mysql=$(cat "$file")

## create mysql superuser
mysql <<EOF
CREATE USER '<%= scope.lookupvar('helpers::passwd::adminuser') -%>'@'localhost' IDENTIFIED BY '$mysql';
GRANT ALL PRIVILEGES ON  *.* to '<%= scope.lookupvar('helpers::passwd::adminuser') -%>'@'localhost' WITH GRANT OPTION;
EOF

### STATUS FILE #####
echo "ok" > /etc/maadix/status/mysql
