Redirect 301 /ocm-provider/ /nextcloud/ocm-provider/
Redirect 301 /ocs-provider/ /nextcloud/ocs-provider/
Redirect 301 /.well-known/carddav /nextcloud/remote.php/dav
Redirect 301 /.well-known/caldav /nextcloud/remote.php/dav
Redirect 301 /.well-known/webfinger /nextcloud/index.php/.well-known/webfinger
Redirect 301 /.well-known/nodeinfo /nextcloud/index.php/.well-known/nodeinfo

Alias /nextcloud "/var/www/nextcloud/nextcloud/"
<Directory "/var/www/nextcloud/nextcloud">

  Options +FollowSymLinks
  AllowOverride All

  <IfModule mod_dav.c>
        Dav off
  </IfModule>

  SetEnv HOME /var/www/nextcloud/nextcloud
  SetEnv HTTP_HOME /var/www/nextcloud/nextcloud

  #Not allow any connection using HTTP
  Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

  #fpm
  <FilesMatch "\.php$">
      SetHandler "proxy:unix:/run/php/fpmnextcloud-fpm.sock|fcgi://localhost"
  </FilesMatch>


</Directory>

<Directory "/var/www/nextcloud/data/">
  # just in case if .htaccess gets disabled
    Require all denied
</Directory>

#disable web access to updater
<Directory "/var/www/nextcloud/nextcloud/updater/">
  Require all denied
</Directory>

