#!/bin/bash

#read admin user password from ldap and set environment variables
dn="ou=password,ou=nextcloud,ou=groups,dc=example,dc=tld"
#try to decrypt password if gnupg kit is setup
if [[ -d /usr/share/mxcp/.gnupg ]]
then
  nextcloud=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" | base64 -d | gpg --decrypt)
else
  nextcloud=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" )
fi

#read ddbb password from file
file="/etc/maadix/nextclouddb"
nextclouddb=$(cat "$file")


#create nextcloud database
if [ -f /root/.my.cnf ]; then
    mysql --defaults-extra-file=/root/.my.cnf -e "CREATE DATABASE nextcloud /*\!40100 DEFAULT CHARACTER SET utf8 */;"
    mysql --defaults-extra-file=/root/.my.cnf -e "CREATE USER nextcloud@localhost IDENTIFIED BY '$nextclouddb';"
    mysql --defaults-extra-file=/root/.my.cnf -e "GRANT ALL PRIVILEGES ON nextcloud.* TO 'nextcloud'@'localhost';"
    mysql --defaults-extra-file=/root/.my.cnf -e "FLUSH PRIVILEGES;"
fi

#nextcloud occ installation
sudo -u fpmnextcloud php /var/www/nextcloud/nextcloud/occ  maintenance:install --database 'mysql' --database-name nextcloud  --database-user nextcloud --database-pass $nextclouddb --admin-user <%= scope.lookupvar('helpers::nextcloud::adminuser') -%> --admin-pass $nextcloud --data-dir <%= scope.lookupvar('helpers::nextcloud::datadir') -%>

#set admin user email
sudo -u fpmnextcloud php /var/www/nextcloud/nextcloud/occ  user:setting <%= scope.lookupvar('helpers::nextcloud::adminuser') -%> settings email '<%= scope.lookupvar('helpers::nextcloud::usermail') -%>'

#delete ldap password
ldapdelete -H ldapi:// -Y EXTERNAL "$dn"

### STATUS FILE #####
echo "ok" > /etc/maadix/status/nextcloud
