#!/bin/bash

#params
fqdn=$(hostname -f)

#commands
service apache2 stop
cd /var/www/ &&
#mv owncloud to temp dir
mv owncloud owncloud-temp &&
#disable old owncloud apache conf
if [ -f /etc/apache2/conf.d/owncloud.conf ]; then
  rm /etc/apache2/conf.d/owncloud.conf
fi
if [ -f /etc/apache2/conf-available/owncloud.conf ]; then
  rm /etc/apache2/conf-available/owncloud.conf
fi
sleep 5
touch /etc/apache2/conf-available/owncloud.conf &&
service apache2 start &&
#purge packages
apt-get remove --purge -y owncloud-files owncloud owncloud-deps-php5 &&
#create new installation dir
mkdir owncloud &&
#mv data folder to new installation dir
mv owncloud-temp/data owncloud/ &&
#mv code to new installation dir
mv owncloud-temp owncloud/owncloud &&
chown -R fpmowncloud:fpmowncloud /var/www/owncloud &&
#delete apt sources
if [ -f /etc/apt/sources.list.d/owncloud.list ]; then
  rm /etc/apt/sources.list.d/owncloud.list
fi

#rescan files
cd /var/www/owncloud/owncloud &&
sudo -u fpmowncloud php occ files:scan --all &&

#restore new apache conf
cat > /etc/apache2/conf-available/owncloud.conf <<EOL
Alias /owncloud "/var/www/owncloud/owncloud/"
<Directory "/var/www/owncloud/owncloud">

  Options +FollowSymLinks
  AllowOverride All

  <IfModule mod_dav.c>
        Dav off
  </IfModule>

  SetEnv HOME /var/www/owncloud/owncloud
  SetEnv HTTP_HOME /var/www/owncloud/owncloud

  #Not allow any connection using HTTP
  Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

  #fpm
  <FilesMatch "\.php$">
      SetHandler "proxy:unix:/run/php/fpmowncloud-fpm.sock|fcgi://localhost"
  </FilesMatch>

</Directory>

<Directory "/var/www/owncloud/data/">
  # just in case if .htaccess gets disabled
    Require all denied
</Directory>
EOL

#restart apache with new owncloud conf
ln -s /etc/apache2/conf-available/owncloud.conf /etc/apache2/conf.d/
sleep 5
service apache2 restart &&

#run cron
cd /var/www/owncloud/owncloud &&
sudo -u fpmowncloud php -f cron.php &&

#run ajax cron
cd /tmp &&
wget https://$fqdn/owncloud/cron.php &&
sleep 10


