Alias /owncloud "/var/www/owncloud/owncloud/"
<Directory "/var/www/owncloud/owncloud">

  Options +FollowSymLinks
  AllowOverride All

  <IfModule mod_dav.c>
        Dav off
  </IfModule>

  SetEnv HOME /var/www/owncloud/owncloud
  SetEnv HTTP_HOME /var/www/owncloud/owncloud

  #Not allow any connection using HTTP
  Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

  #fpm
  <FilesMatch "\.php$">
      SetHandler "proxy:unix:/run/php/fpmowncloud-fpm.sock|fcgi://localhost"
  </FilesMatch>

</Directory>

<Directory "/var/www/owncloud/data/">
  # just in case if .htaccess gets disabled
    Require all denied
</Directory>

#disable web access to updater
<Directory "/var/www/owncloud/owncloud/updater/">
  Require all denied
</Directory>
