#!/bin/bash

#read admin user password from ldap and set environment variables
dn="ou=password,ou=owncloud,ou=groups,dc=example,dc=tld"
#try to decrypt password if gnupg kit is setup
if [[ -d /usr/share/mxcp/.gnupg ]]
then
  owncloud=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" | base64 -d | gpg --decrypt)
else
  owncloud=$(ldapsearch -o ldif-wrap=no -H ldapi:// -Y EXTERNAL -b "$dn" | grep status: | sed "s|.*: \(.*\)|\1|" )
fi

#read ddbb password from file
file="/etc/maadix/ownclouddb"
ownclouddb=$(cat "$file")

#if owncloud ddbb is not present, create it
if [ ! -d /var/lib/mysql/owncloud ]; then

  echo "Create database owncloud"
  #create owncloud database
  if [ -f /root/.my.cnf ]; then
    mysql --defaults-extra-file=/root/.my.cnf -e "CREATE DATABASE owncloud /*\!40100 DEFAULT CHARACTER SET utf8 */;"
    mysql --defaults-extra-file=/root/.my.cnf -e "CREATE USER owncloud@localhost IDENTIFIED BY '$ownclouddb';"
    mysql --defaults-extra-file=/root/.my.cnf -e "GRANT ALL PRIVILEGES ON owncloud.* TO 'owncloud'@'localhost';"
    mysql --defaults-extra-file=/root/.my.cnf -e "FLUSH PRIVILEGES;"
  fi

  #owncloud occ installation
  sudo -u fpmowncloud php /var/www/owncloud/owncloud/occ  maintenance:install --database 'mysql' --database-name owncloud  --database-user owncloud --database-pass $ownclouddb --admin-user <%= scope.lookupvar('helpers::owncloud::adminuser') -%> --admin-pass $owncloud --data-dir <%= scope.lookupvar('helpers::owncloud::datadir') -%>

else
  echo "Owncloud database already exists!"
fi

#delete ldap password
ldapdelete -H ldapi:// -Y EXTERNAL "$dn"

### STATUS FILE #####
echo "ok" > /etc/maadix/status/owncloud
