# phpMyAdmin default Apache configuration

Alias /phpmyadmin /var/www/phpmyadmin/public_html

<Directory /var/www/phpmyadmin/public_html>
    Options SymLinksIfOwnerMatch
    DirectoryIndex index.php

    # limit libapache2-mod-php to files and directories necessary by pma
    <IfModule mod_php7.c>
        php_admin_value upload_tmp_dir /var/lib/phpmyadmin/tmp
        php_admin_value open_basedir /usr/share/phpmyadmin/:/etc/phpmyadmin/:/var/lib/phpmyadmin/:/usr/share/php/php-gettext/:/usr/share/php/php-php-gettext/:/usr/share/javascript/:/usr/share/php/tcpdf/:/usr/share/doc/phpmyadmin/:/usr/share/php/phpseclib/:/usr/share/php/PhpMyAdmin/:/usr/share/php/Symfony/:/usr/share/php/Twig/:/usr/share/php/Twig-Extensions/:/usr/share/php/ReCaptcha/:/usr/share/php/Psr/Container/:/usr/share/php/Psr/Cache/:/usr/share/php/Psr/Log/:/usr/share/php/Psr/SimpleCache/:/usr/share/php/Bacon/BaconQrCode/:/usr/share/php/DASPRiD/Enum/
    </IfModule>

    # PHP 8+
    <IfModule mod_php.c>
        php_admin_value upload_tmp_dir /var/lib/phpmyadmin/tmp
        php_admin_value open_basedir /usr/share/phpmyadmin/:/usr/share/doc/phpmyadmin/:/etc/phpmyadmin/:/var/lib/phpmyadmin/:/usr/share/php/:/usr/share/javascript/
    </IfModule>

    #redirect non-SSL traffic to SSL
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    #Not allow any connection using HTTP
    Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

    #request auth
    AuthType Basic
    AuthName "private area"
    AuthBasicProvider PAM
    AuthPAMService apache
    Require valid-user

    #fpm
    <FilesMatch "\.php$">
      SetHandler "proxy:unix:/run/php/fpmphpmyadmin-fpm.sock|fcgi://localhost"
    </FilesMatch>

</Directory>

# Disallow web access to directories that don't need it
<Directory /var/www/phpmyadmin/public_html/templates>
    Require all denied
</Directory>
<Directory /var/www/phpmyadmin/public_html/libraries>
    Require all denied
</Directory>

