external_services = {
};

cross_domain_websocket = true;
consider_websocket_secure = true;
https_ports = { }; -- Remove this line to prevent listening on port 5284

VirtualHost "<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        -- enabled = false -- Remove this line to enable this host
        <% if @auth == true -%>
        authentication = "ldap2"
        <% end -%>

        -- Properties below are modified by jitsi-meet-tokens package config
        -- and authentication above is switched to "token"
        --app_id="example_app_id"
        --app_secret="example_app_secret"
        -- Assign this host a certificate for TLS, otherwise it would use the one
        -- set in the global section (if any).
        -- Note that old-style SSL on port 5223 only supports one certificate, and will always
        -- use the global one.
        ssl = {
                key = "/etc/prosody/certs/<%= scope.lookupvar('helpers::jitsi::domain') -%>.key";
                certificate = "/etc/prosody/certs/<%= scope.lookupvar('helpers::jitsi::domain') -%>.crt";
        }
        speakerstats_component = "speakerstats.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        conference_duration_component = "conferenceduration.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        -- we need bosh
        modules_enabled = {
            "bosh";
            "pubsub";
            "ping"; -- Enable mod_ping
            "speakerstats";
            "conference_duration";
            "muc_lobby_rooms";
            "muc_breakout_rooms";
            "websocket";
            "smacks";
        }
        smacks_max_unacked_stanzas = 5;
        smacks_hibernation_time = 60; 
        smacks_max_hibernated_sessions = 1;
        smacks_max_old_sessions = 1;
        c2s_require_encryption = false
        lobby_muc = "lobby.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        main_muc = "conference.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        breakout_rooms_muc = "breakout.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
        -- muc_lobby_whitelist = { "recorder.<%= scope.lookupvar('helpers::jitsi::domain') -%>" } -- Here we can whitelist jibri to enter lobby enabled rooms

<% if @auth == true -%>
VirtualHost "guest.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
    authentication = "anonymous"
    c2s_require_encryption = false
<% end -%>

VirtualHost "auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>"
    ssl = {
        key = "/etc/prosody/certs/auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>.key";
        certificate = "/etc/prosody/certs/auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>.crt";
    }

--Internal muc component for enabling Breakout Rooms
Component "breakout.<%= scope.lookupvar('helpers::jitsi::domain') -%>" "muc"
	restrict_room_creation = true
	storage = "memory"
	admins = { "focus@auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>" }
	muc_room_locking = false
	muc_room_default_public_jids = true
