#!/bin/bash

##### Config ###############################

url="ldapi://"
basedn="dc=example,dc=tld"
cpanelobject="ou=cpanel,dc=example,dc=tld"
apiobject="ou=api,dc=example,dc=tld"
cpaneldn="ou=cpanel"
lockattribute="status"
releaseattribute="type"
timestampattribute="creationDate"
statusattribute="status"
groupsdn="ou=groups,dc=example,dc=tld"
timestamp=$(date +%s)
date=$(date -u +"%Y-%m-%d-%T")
hostname=$(hostname)
logdir="/etc/maadix/logs"
#mails are sent to root and then forwaded to defined logmail recipents
logmail="<%= scope.lookupvar('helpers::mxcp::logmail') -%>"
emergencymail="logs@maadix.org"

##### Functions ###############################

function setlockstatus ()
{
#echo "$1"
ldapmodify -Q -Y EXTERNAL -H "$url"  << EOF
dn: $cpanelobject
changetype: modify
replace: $lockattribute
$lockattribute: $1

EOF
}

function settimestamp ()
{
ldapmodify -Q -Y EXTERNAL -H "$url"  << EOF
dn: $cpanelobject
changetype: modify
replace: $timestampattribute
$timestampattribute: $timestamp

EOF
}

function setstatus ()
{
echo "$1"
echo "$2"
ldapmodify -Q -Y EXTERNAL -H "$url"  << EOF
dn: ou=${1},${groupsdn}
changetype: modify
replace: $statusattribute
$statusattribute: $2

EOF
}

function sendusermail ()
{

# Get user mail and name
useremail=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" -s one "(&(objectclass=simpleSecurityObject)(status=active))" | awk -F ": " '$1 == "email" {print $2}'`
username=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" -s one "(&(objectclass=simpleSecurityObject)(status=active))" | awk -F ": " '$1 == "cn" {print $2}'`

# Body
read -r -d '' body << EOM
Hola,

La tarea de Mantenimiento o Actualización que has ejecutado desde el panel de control del servidor ${hostname}.maadix.org ha producido un error.

El equipo técnico ha sido notificado y está ahora trabajando en la solución.
En breve se pondrá en contacto contigo.

Un saludo

----------
MaadiX.net
https://maadix.net

EOM

# Send mail
echo "$body" | mail -s "Maadix: incidencia en ${hostname}" $useremail

}


function updatevmstatus ()
{

# Get userid, token and api url
userid=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$apiobject" -s base | awk -F ": " '$1 == "uid" {print $2}'`
tokenbase64=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$apiobject" -s base | awk -F ":: " '$1 == "userPassword" {print $2}'`
host=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$apiobject" -s base | awk -F ": " '$1 == "host" {print $2}'`
apiurl="${host}/vm/${hostname}/"
token=`echo "$tokenbase64" | base64 --decode`

# Update status
curl -s $apiurl -X PATCH -H "Content-Type: application/json" -H "Authorization: Token ${token}" -H "X-HOSTNAME: ${hostname}" -d '{"status" : "'"$1"'"}'

}


##### Tasks ###############################

# Search lock status
status=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" "$cpaneldn" | awk -F ": " '$1 == "'"$lockattribute"'" {print $2}'`
echo "$status"

# If cpanel is locked trigger puppet
if [ "$status" = 'locked' ]; then

  # If borgabackup cron is running, exit
  if [[ $(pgrep -fl borgbackup.sh) ]]; then
    echo "borgbackup is running"
    exit 0
  fi

  # Check apt lock files
  lsof -w /var/lib/apt/lists/lock
  if [ $? -ne 1 ]; then
    echo "/var/lib/apt/lists/lock LOCKED"
    exit 0
  fi
  lsof -w /var/lib/dpkg/lock
  if [ $? -ne 1 ]; then
    echo "/var/lib/dpkg/lock LOCKED"
    exit 0
  fi
  lsof -w /var/lib/dpkg
  if [ $? -ne 1 ]; then
    echo "/var/lib/dpkg LOCKED"
    exit 0
  fi
  lsof -w /var/cache/apt/archives/lock
  if [ $? -ne 1 ]; then
    echo "/var/cache/apt/archives/lock LOCKED"
    exit 0
  fi

  #check puppetserver is online
  nc -z puppet 8140
  if [ $? -ne 0 ]; then
    echo "" | mail -s "Puppetserver offline" $emergencymail
    exit 1
  fi

  #check gitlab/github/sury status
  curl --output /dev/null --silent --head --fail https://gitlab.com/MaadiX/maadix-cpanel
  if [ $? -ne 0 ]; then
    echo "" | mail -s "Giltab offline: MaadiX/maadix-cpanel" $emergencymail
    exit 0
  fi
  curl --output /dev/null --silent --head --fail https://gitlab.com/MaadiX/system-cron
  if [ $? -ne 0 ]; then
    echo "" | mail -s "Giltab offline: MaadiX/system-cron" $emergencymail
    exit 0
  fi
  curl --output /dev/null --silent --head --fail https://github.com/devwwb/cpanel-puppet
  if [ $? -ne 0 ]; then
    echo "" | mail -s "Github offline: devwwb/cpanel-puppet" $emergencymail
    exit 0
  fi
  curl --output /dev/null --silent --head --fail https://packages.sury.org/
  if [ $? -ne 0 ]; then
    echo "" | mail -s "Sury offline: packages.sury.org" $emergencymail
    exit 0
  fi

  # Search if any of the modules of puppet apply is locked
  llocked=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$cpanelobject" -s one "(status=locked)" | grep ^dn: | wc -l`
  if [ "$llocked" -gt 0 ]; then
    echo "Puppet apply modules pending: $llocked, exiting"
    exit 0
  fi

  # Search if any of the modules of puppet apply is running
  llocked=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$cpanelobject" -s one "(status=running)" | grep ^dn: | wc -l`
  if [ "$llocked" -gt 0 ]; then
    echo "Puppet apply modules pending: $llocked, exiting"
    exit 0
  fi

  sleep 2

  # If puppet apply process exists, exit
  if [[ $(pgrep -f "puppet apply") ]]; then
    papply=`pgrep -f "puppet apply"`
    echo "Puppet apply is running with pid $papply, exit" >&2
    exit 1
  fi

  # If dpkg/lock-frontend is locked, exit
  if lsof -w /var/lib/dpkg/lock-frontend; then
    echo "dpkg/lock-frontend is locked, exit"
    exit 0
  fi

  # Check certbot lock files
  FILE=/etc/letsencrypt/.certbot.lock
  if [ -f "$FILE" ]; then 
    echo "$FILE exists."
    lsof -w /etc/letsencrypt/.certbot.lock
    if [ $? -ne 1 ]; then
      echo "$FILE LOCKED"
      killall -9 certbot
    fi
  fi

  echo "cpanel is locked, triggering puppet!"

  # Search release
  release=`ldapsearch -Q -Y EXTERNAL -H "$url" -b "$basedn" "$cpaneldn" | awk -F ": " '$1 == "'"$releaseattribute"'" {print $2}'`
  if [ -z "$release" ]; then
    echo "can't contact slapd, exit" >&2
    exit 1
  else
    echo "$release"
  fi

  # Stop cron
  /usr/sbin/service cron stop

  # Change ldap to running
  setlockstatus running

  # Search groups to install
  groups=()
  while IFS= read -r line; do
    groups+=( "$line" )
  done < <( ldapsearch -Q -Y EXTERNAL -H "$url" -b "$groupsdn" "(&(objectclass=*)(status=install))" | awk -F ": " '$1 == "ou" {print $2}' )

  # Set release in puppet.conf
  sed -i 's/environment.*/environment = '"$release"'/' /etc/puppetlabs/puppet/puppet.conf

  # Stop monit
  /usr/sbin/service monit stop

  #clean package cache
  /usr/bin/apt-get clean
  sleep 2

  # Run unattended-upgrades with output to log folder
  # This run in puppet, commented here
  #/usr/bin/unattended-upgrades 2>&1 | tee "${logdir}/${date}_upgrades.txt"
  # Send unattended-upgrades log to admin
  #cat "${logdir}/${date}_upgrades.txt" | mail -s "Unattended-upgrades log in ${hostname}" root

  # Run puppet with output to log folder
  /usr/bin/choom -n -1000 -- /opt/puppetlabs/bin/puppet agent --certname <%=@hostname %>.<%= scope.lookupvar('helpers::mxcp::puppet_cert_domain') -%> --test --detailed-exitcode &> "${logdir}/${date}_stdout.txt"

  # Tasks if puppet success or fail
  exitcode=$?
  if [ ${exitcode} -eq 0 ] || [ ${exitcode} -eq 2 ]
    then
      echo "Puppet successful - Exit code ${exitcode}"

      # Add status enabled to groups and send password by mail
      for i in "${groups[@]}"
      do
          #setstatus
  	  setstatus $i enabled
          #send pass by mail
          if [ -x "/etc/maadix/mail/${i}.sh" ]; then /bin/bash "/etc/maadix/mail/${i}.sh" ${i}; fi
      done

      # Send mail to admin with log, removing color codes from log file
      cat "${logdir}/${date}_stdout.txt" | sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g" | mail -s "Puppet Cron log in ${hostname}" root

      # Add status 'ready' to VM in API / ready = 0
      updatevmstatus 0

    else
      echo "Puppet error - Exit code ${exitcode}"

      # Send mail to admin with error log, removing color codes from log file
      cat "${logdir}/${date}_stdout.txt" | sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g" | mail -s "Puppet Error in ${hostname}" root

      # Send emergency notice mail to maadix only if emergencymail not present in logmail
      if [[ "$logmail" != *"$emergencymail"* ]]
      then
        cat "${logdir}/${date}_stdout.txt" | sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g" | mail -s "Puppet Error in ${hostname}" $emergencymail
      fi

      # Send mail to user
      sendusermail

      # Add status 'error' to VM in API / error = 2
      updatevmstatus 2

  fi

  # Set timestamp
  settimestamp

  # Change ldap to ready
  setlockstatus ready

  # Start cron
  /usr/sbin/service cron restart

  # Start monit
  /usr/sbin/service monit start
  # Since puppet may restart some services that could timeout monitor, reload monit after puppet agent run (old way)
  #/usr/bin/monit reload
  #sleep 10
  #/usr/bin/monit monitor all

elif [ "$status" = 'running' ]; then

  echo "puppet is already running, i'll check again in next cron run"
else

  # If vm is started recently, exit to not interfere with puppet
  #if /usr/bin/awk '{ exit ($1 < (2 * 3600)) }' /proc/uptime; then
  if /usr/bin/test $(/usr/bin/cut -d '.' -f1 /proc/uptime) -lt 7200; then
    echo "vm is started recently, exit"
    exit 0
  fi

  # If puppet apply process exists, exit
  if [[ $(pgrep -f "puppet apply") ]]; then
    papply=`pgrep -f "puppet apply"`
    echo "Puppet apply is running with pid $papply, exit"
    exit 1
  fi

  # If puppet agent process exists, exit
  if [[ $(pgrep -f "puppet agent") ]]; then
    pagent=`pgrep -f "puppet agent"`
    echo "Puppet agent 1 is running with pid $pagent, exit"
    exit 0
  fi

  # check if puppet agent needs update
  if [[ $(dpkg -s puppet-agent | grep Version | grep <%= @lsbdistcodename %>) ]]; then
    echo "Puppet agent is uptodate"
  else
    echo "Puppet agent is outdated"
    setlockstatus running
    /usr/sbin/service cron stop
    # wait until other puppet process finish
    sleep 120
    # If puppet agent process exists, exit
    if [[ $(/usr/bin/pgrep -f "puppet agent") ]]; then
      pagent=`/usr/bin/pgrep -f "puppet agent"`
      echo "Puppet agent 2 is running with pid $pagent, exit" >&2
      setlockstatus ready
      /usr/sbin/service cron restart
      exit 1
    fi
    # create temporary keyring and store puppet repo key
    export GNUPGHOME="$(mktemp -d)"
    gpg -q --recv-keys --keyserver keyserver.ubuntu.com 4528B6CD9E61EF26 1> /dev/null
    gpg --export 4528B6CD9E61EF26 | sudo tee /tmp/puppet-archive-keyring.gpg
    # add puppet repo with temporary key
    cat <<-SOURCE | sudo tee /etc/apt/sources.list.d/puppet.list
deb [signed-by=/tmp/puppet-archive-keyring.gpg] http://apt.puppet.com/ <%= @lsbdistcodename %> puppet6
SOURCE
    # update apt and install puppet
    DEBIAN_FRONTEND=noninteractive apt update 2>/dev/null
    # If puppet agent process exists, exit
    if [[ $(/usr/bin/pgrep -f "puppet agent") ]]; then
      pagent=`/usr/bin/pgrep -f "puppet agent"`
      echo "Puppet agent 3 is running with pid $pagent, exit" >&2
      gpgconf --kill gpg-agent
      setlockstatus ready
      /usr/sbin/service cron restart
      exit 1
    fi
    DEBIAN_FRONTEND=noninteractive apt install -y --allow-downgrades puppet-agent=6.28.0-1<%= @lsbdistcodename %> 2>/dev/null
    # remove repo and update apt
    rm /etc/apt/sources.list.d/puppet.list
    DEBIAN_FRONTEND=noninteractive apt update 2>/dev/null
    /usr/sbin/service cron restart
    # check and send mail if something fails
    if [[ $(dpkg -s puppet-agent | grep Version | grep <%= @lsbdistcodename %>) ]]; then
      echo "Puppet agent updated"
      echo "" | mail -s "Puppet updated in ${hostname}" $emergencymail
    else
      echo "" | mail -s "Error updating puppet in ${hostname}" $emergencymail
    fi
    gpgconf --kill gpg-agent
    setlockstatus ready
  fi

  echo "nothing to do, i'll check again in next cron run"
fi

