[Unit]
Description=Rocket.Chat service

[Service]
User=rocketchat
WorkingDirectory=/var/www/rocketchat/bundle
ExecStart=/var/www/rocketchat/.nvm/versions/node/v8.9.3/bin/node main.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rocket.chat
Environment=NODE_ENV=production
Environment=BIND_IP=127.0.0.1
Environment=PORT=3000
Environment=MONGO_URL=mongodb://rocketchat:rocketchat@localhost:27017/rocketchat
Environment=ROOT_URL=https://<%=@fqdn %>/rocketchat

[Install]
WantedBy=multi-user.target
