org.jitsi.jicofo.BRIDGE_MUC=JvbBrewery@internal.auth.<%= scope.lookupvar('helpers::jitsi::domain') -%>

<% if @auth == true -%>
org.jitsi.jicofo.auth.URL=XMPP:<%= scope.lookupvar('helpers::jitsi::domain') -%>
<% end -%>
