### CLAVE DE USER SUDO ######
## cambiamos la pass del user sudo con el uid HOSTNAME
ldappasswd -Q -Y EXTERNAL -H ldapi:// -T /etc/maadix/sudo "uid=<%= scope.lookupvar('helpers::passwd::sshduser') -%>,ou=sshd,ou=People,dc=example,dc=tld"

### STATUS FILE #####
umask 077 && echo "ok" > /etc/maadix/status/sudo
