#!/bin/bash

#to enable logging
#exec 3>&1 1>>/tmp/algo 2>&1


## genera systemd service
umask 026 && echo "
[Unit]
Description=Rocket.Chat service

[Service]
User=rocketchat
WorkingDirectory=/var/www/rocketchat/bundle
ExecStart=/var/www/rocketchat/.nvm/versions/node/v<%= scope.lookupvar('helpers::rocketchat::node_version') -%>/bin/node main.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rocket.chat
Environment=NODE_ENV=production
Environment=BIND_IP=127.0.0.1
Environment=PORT=4000" > /lib/systemd/system/rocketchat.service
echo -n "Environment=MONGO_URL=mongodb://rocketchat:" >> /lib/systemd/system/rocketchat.service
cat /etc/maadix/mongodbrocketchat | tr -d '\n' | sed "s@\\\\@@g" | tr -d \'\" >> /lib/systemd/system/rocketchat.service
echo "@localhost:27017/rocketchat?ssl=true&replicaSet=rs01" >> /lib/systemd/system/rocketchat.service
echo -n "Environment=MONGO_OPLOG_URL=mongodb://oplogger:" >> /lib/systemd/system/rocketchat.service
cat /etc/maadix/mongodboplogger | tr -d '\n' | sed "s@\\\\@@g" | tr -d \'\" >> /lib/systemd/system/rocketchat.service
echo "@localhost:27017/local?ssl=true&authSource=admin
Environment=ROOT_URL=https://<%= scope.lookupvar('helpers::rocketchat::domain') -%>

[Install]
WantedBy=multi-user.target
" >> /lib/systemd/system/rocketchat.service

#change perms
chmod 640 /lib/systemd/system/rocketchat.service

#reload systectl daemon
systemctl daemon-reload
