#!/bin/bash
# add authorizedService: systemd-user to sudo user if not present

ldapsearch -H ldapi:/// -Y external -b 'uid=<%= scope.lookupvar('helpers::passwd::sshduser') -%>,ou=sshd,ou=People,dc=example,dc=tld' | grep authorizedService | grep systemd-user
RESULT=$?
if [ $RESULT -eq 1 ]; then
   ldapmodify -a -Q -Y EXTERNAL -H ldapi:/// << EOF
dn: uid=<%= scope.lookupvar('helpers::passwd::sshduser') -%>,ou=sshd,ou=People,dc=example,dc=tld
changetype: modify
add: authorizedService
authorizedService: systemd-user
EOF

fi

### STATUS FILE #####
echo "ok" > /etc/maadix/status/systemd-user_authorizedservices
