#!/bin/bash

#to enable logging
#exec 3>&1 1>>/tmp/algo 2>&1


## genera systemd service
umask 022 && echo "
[Unit]
Description=Mailtrain service

[Service]
User=mailtrain
WorkingDirectory=/var/www/mailtrain/mailtrain
ExecStart=/var/www/mailtrain/.nvm/versions/node/v<%= scope.lookupvar('helpers::mailtrain::node_version') -%>/bin/node index.js
ExecStop=/usr/bin/killall -9 mailtrain
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mailtrain
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
" > /lib/systemd/system/mailtrain.service

#reload systectl daemon
systemctl daemon-reload
